.container {
    max-width: 40em;
    margin: 0 auto;
    padding: 2em;
    border: 0.4em solid rgb(226, 208, 245);
    border-radius: 0.3em;
    background-color: rgb(210, 180, 249);
}
h1, p {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

 button {
    margin: 0 auto;
}
textarea {
    resize: vertical;
    height: 150px;
}

button {
    font-weight: bold;
    background-color: #a16fb1;
    color: #f9efef;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button {
    display: flex;
}
label {
    padding: 15px 0;
}